<%-include('../partials/login_header.ejs')%>
    <main>
        <div class="login_form">
            <div class="login_title">
                <h3>Login</h3>
            </div>
            <div class="content">
                <form action="" class="login">
                    <div class="user_form">
                        <input name="username" type="text" id="username-input" required>
                        <label for="text">Username</label>
                    </div>
                    <div class="user_form">
                        <input name="password" type="password" id="pass-input" required>
                        <label for="text">Password</label>
                    </div>
                    <div class="register">
                        <a href="/signup/register">Register</a>
                    </div>
                    <div class="forgot_pass">
                        <a href="/signup/forgot">Forgot password</a>
                    </div>
                    <div class="login_btn">
                        <button id="button-login">Login</button>
                    </div>
                </form>
                <div class="login_option">
                    <h5>Or Sign up</h5>
                    <div class="items_option">
                        <div class="options">
                            <div class="option_img">
                                <a href=""><img src="https://www.facebook.com/images/fb_icon_325x325.png" alt=""></a>
                            </div>
                        </div>
                        <div class="options">
                            <div class="option_img">
                                <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png" alt=""></a>
                            </div>
                        </div>
                        <div class="options">
                            <div class="option_img">
                                <a href=""><img src="https://img.icons8.com/small/512/github.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        let form = document.querySelector('.login')
        form.addEventListener('submit', async(e) => {
            e.preventDefault()
            let username = form.username.value
            let password = form.password.value
            try {
                const request = await fetch('/signup/login', {
                    method: "POST",
                    body: JSON.stringify({
                        username,
                        password
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                const data = await request.json()
                if (data.message) {
                    window.location.href = '/'
                }
            } catch (error) {

            }
        })
    </script>
    <%-include('../partials/footer.ejs')%>